.blog-content{
    padding-top: 40px;
}
.blog-image{
    width: 100vw;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.blog-content body{
    background-color: var(--background) !important;
}

.blog-content p, .blog-content span, .blog-content li, .blog-content td {
    color: var(--text) !important;
    border-color: var(--text) !important;
}