/* Updated index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #29327E;
  --secondary-color: #35BEBD;
  --tertiary-color: #8080A0;
  --quaternary-color: #C1B3AF;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  @apply bg-gray-100 text-gray-900;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Ensure flex container for #app */
#app {
  @apply flex flex-col flex-grow;
}

