.nav-bar ul {
    display: flex;
    gap: 2rem;
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--background-invert);
    transition: width 0.3s ease;
}
.nav-item:hover::after {
    width: 100%;
}

@media (max-width: 1000px) {
    .nav-bar ul{
        flex-direction: column;
    }
    .nav-item{
        max-width: 200px;
    }
    .nav-item:hover::after {
        width: 100px;
    }
    
}