:root{
    --dark-Theme: #000000;
    --light-Theme: #ffffff;
}
body{
    transition: background-color 0.5s, color 0.5s;
}

body[data-theme='light'] {
    background-color: var(--light-Theme);
    color: var(--dark-Theme);
    --background-theme-invert: var(--dark-Theme);
    --text-theme-inverter: var(--light-Theme);  
}

body[data-theme='dark']{
    background-color: var(--dark-Theme);
    color: var(--light-Theme);
    --background-theme-invert: var(--light-Theme);
    --text-theme-inverter: var(--dark-Theme); 
}